# Node.js
node_modules/
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Whatsapp-web.js session files
.session/
.wwebjs_auth/
.wwebjs_cache/
.wwebjs_auth_backup/

# Carpetas internas del proyecto
scripts/.wwebjs_auth/
scripts/.wwebjs_cache/
scripts/.wwebjs_auth_backup/
scripts/session/

# Archivos temporales del sistema
.DS_Store
Thumbs.db
